@import "tailwindcss";

@theme {
  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0.235 0.015 65);
  --color-border: oklch(0.92 0.004 286.32);
}

@layer base {
  html {
    overscroll-behavior-y: none;
  }

  body {
    @apply bg-background text-foreground;
    overflow-x: hidden;
  }
}